
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* section + section {
  margin-top: 50px;
} */

body {
  font-family: "Inter", sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  font-style: normal;
  color: rgba(0, 0, 0, 0.5);
  background-color: #F5F8FF;
}

        /* font-family */
h1, h2, h3, h5, h6 {
  font-family: "Noto Serif", serif;
  color:black
}

h4 {
  font-family: "Inter", sans-serif;
  color: #111111;
}

            /* sont-sizing */

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
}

h3{
  font-size: 2.5rem;
}

h4 {
  font-size:1.375;
}

h5 {
  font-size: 1.25rem;
}

           /* font-weight */
.font-m {
  font-weight: 500;
}
.font-semi {
  font-weight: 600;
}
.font-b {
  font-weight: 700;
}

               /* color-plate */

           /* text-color */
.orange{
  color: #E95A08;
}

     /* button  */
.primary-btn{
  font-family: 'Inter', sans-serif ;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #E95A08;
  border: none;
  padding: 10px 26px;
  width: 100%;
  margin-top: 10px;
}

.primary-btn:hover{
  color:black;
  background-color: white;
  border:1px solid #E95A08;
  border-radius: 10px;
  

}

/* shared-class */

.container{
  max-width: 1140px;
  margin:0 auto;
  padding: 0 15px;
}


.header{
  display: flex;
  gap: 20px;
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
}
.logo{
  flex: 1;
}

.logo img{
  max-width: 135px;
  height: 82px;
}

.nav{
  flex: 1;
}

.nav ul {
  list-style: none;
  display: flex;
  gap:15px;
  justify-content: flex-end;

}


.nav ul li a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);

}

#active{
  color: black;
}

/* hero-section */

.hero-section {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
  
}

.hero-content{
  flex: 1;
  align-items: end;
  padding-top: 30px;
}

.hero-description{
  margin-top: 15px;
}
.hero-img{
  flex: 1;
  /* padding: 0px;
  margin: 0px; */
  width: 100%;
}
.hero-img img {
  width: 100%;
  /* margin: 0;
  padding: 0;
  display: block */
} 
/* main-section

main{
  margin-top: 100px;
}

/* card-section  */

.card-section{
  text-align: center;
  margin-top: 100px;
}

.card-content {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
text-align: center;

}
.card-short-description{
  margin: 20px 0;
}

.card{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

}

.card-img{
  width: 100%;
}

.card-img img{
  width: 100%;
}
.card-name{
  font-weight:500 ;
}

/* plants-lover-section  */


.plants-lover{
  margin: 100px auto;
  display: flex;
  gap: 80px;
}
.plants-lover-img{
  width: 100%;
  position: relative;
}

.plants-lover-img img{
  width: 100%;
 
  
}

.plants-lover-img .flower-store{
  position: absolute;
  
}

.plants-lover-img .trusted{
width: 50%;
  position: relative;
  transform: translateY(-100px) translateX(380px);
}


.plants-lover-content{
  width: 100%;
  padding-top: 50px;
}
.plants-lover-content-title{
  margin-bottom: 10px;
}
.plants-lover-content ul li{
  margin-bottom: 15px;
  padding-right: 20px;
  
}

/* Deals-section */

.deals{
  text-align: center;
  margin-top: 200px;

}

.deals-content{

  width: 100%;
  margin: 0 auto;

}

.deals-title{
  font-size: 2rem;
  margin: 10px;


}

.deals-description{
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  

}

.deal-card {
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
 

}

.deal-card .box{
     background-size: cover;
   background-position: center;
   background-repeat: no-repeat; 
     width: 100%;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      gap: 10px;
  
      

}
.deal-card-01{
  grid-column: 1;
  grid-row: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./assets/deal-bloom.png);

     height: 190px;
    

}

.deal-card-02{
  grid-column: 1;
  grid-row: 2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./assets/deal-ana.png);
height: 190px;

}

.deal-card-03{
  grid-column: 2;
  grid-row: 1/3;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./assets/deal-zabo.png);
  height: 400px;
 

}

.deal-card h5, h6{
  color: white;
  
}
.deal-card-03 h5{
  font-size: 2rem;
}
.deal-card h5{
  
}
.deal-card-03 h6{
  font-size: 1rem;
}

/* news-letter-section */
.news-letter{
  width: 100%;
  height: 500px;
  margin: 0 auto;
  padding: 15px auto;
  background-image: url(./assets/news-letter-bg.png);
 text-align: center;
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 5px;
}

.news-letter h3{
  color: white;
  margin: 0 auto;
}

.news-letter-banner{
  width:830px;
  height: 50px;
  padding: 20px;
  gap: 0px;
  display: flex;
  margin: 0;
}
.news-letter-banner input{
  width: 80%;
  padding:20px;
  border: none;
}
.news-btn{
  width: 25%;
  padding: 20px;
  border: none;
  background-color: #E95A08;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* footer-section  */

.footer{
  display: flex;
  justify-content: center;
  margin: 40px auto;
  gap: 30px;
}

.footer p {
  font-size: 1rem;
}
.footer div {
  flex: 1;
}
.footer ul li{
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: 400;
  list-style: none;
}


  .footer ul li:hover {
    color: black;
  }

  .icon{
    display: flex;
    gap: 20px;
    width: 25%;
    justify-content: center;
  }
  .icon img{
    width: 50%;
  }
/* Mobile device */

@media screen and (max-width: 576px) {
  #large{
    display: none;
  }

  .hero-section{
    flex-direction: column-reverse;
    padding: 10px;
  }
 .hero-content{
  width: 100%;
 }

 .hero-img img{
  width: 100%;
  height: auto;
 }

 .card{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

}
.card-img img{
  width: 100%;
}
.container{
  width: 100%;
}

.plants-lover{
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 50px;
}

.plants-lover-img{
  width: 100%;

}
.plants-lover-img img{
  width: 100%;
  height: auto;
}

.plants-lover-img .flower-store{
  position: static;
  transform: none;
}
.trusted{
display: none;
}
.plants-lover-content{
  width: 100%;
  padding: 0 15px;
  text-align: left;
}

.plants-lover-content ul{
  padding-left: 18px;
}

/* Latest Deals  */
.deal-card {
  display:flex;
  flex-direction: column;
  gap: 20px;

}
.deal-card-03{
  height: 190px;
}

.deal-card h5{
  font-size: 1.2rem;
}
.deal-card h6{
  font-size: .80rem;
  font-weight: 400;
}

.deals{
  margin-top: 50px;
}

.news-letter{
  height: 393px;
}

.news-letter-banner{
  width:321px;
  height: 50px;
  padding: 20px;
  gap: 0px;
  display: flex;
  margin: 0;
}
.news-btn{
  width:30% ;
}
.news-letter h3{
  font-size: 1.3rem;
}

.footer{
  flex-direction: column;
  padding: 20px;
  gap: 0;
}
.footer p{
width: 80%;
}
.icon{
  margin: 0 30px;
}
.deals-description{
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  

}

}

@media screen and (min-width: 577px) {
  #small{
    display: none;
  }
  
}

/* @media screen and (min-width: 577px) and (max-width: px)  */